 <!--Bootstrap links -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
 <!--Bootstrap links -->

<h1>Store Catalogue</h1>

<body>
    <div class="container">
        
        <!--Item #1-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Candy Cane</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      This delicious minty treat is a <br/>
                      perfect study break snack. <br/>
                      <br/>
                      Price: $1.00<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #2-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Christmas Tree</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      Need a mini christmas tree to spice up your study space?<br/>
                      Take a look at these adorable little Charlie Brown <br/>
                      Christmas trees.<br/>
                      
                      <br/>
                      Price: $20.00<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #3-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Elf Toy</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      It's a stuffed elf toy<br/>
                      
                      <br/>
                      Price: $7.00<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #4-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Gingerbread House</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      Decorate it, make it look pretty,<br/>
                      which is a complete waste of your time<br/>
                      because you'll just end up eating it all.<br/>
                      
                      <br/>
                      Price: $12.00<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #5-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Tree Ornaments</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      Put them on your tree to make it look nice.<br/>
 
                      <br/>
                      Price: $0.50<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #6-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Advent Calendar</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      Starting December 1st, treat yourself to a<br/>
                      chocolate a day! Yum!! <br/>
 
                      <br/>
                      Price: $0.50<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #7-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Wrapping Paper</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      Wrap all your gifts in this blue snowflake patterned<br/>
                      wrapping paper.<br/>
 
                      <br/>
                      Price: $2.00<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #8-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Snowflake Stickers</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      Throw them on your notebook, your laptop,<br/>
                      your face, your friend's face, who cares!<br/>
                      Just buy some!<br/>
 
                      <br/>
                      Price: $0.10<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #9-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Gingerbread Man</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      Just a great holiday treat,<br/>
                      buy one!<br/>
                      
 
                      <br/>
                      Price: $1.50<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #10-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Mittens</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      Try and stay warm this holiday season. These<br/>
                      fuzzy little friends will keep your hands<br/>
                      nice and toasty at all times!<br/>
                      
 
                      <br/>
                      Price: $8.00<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #11-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Hat</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      No one likes a brain freeze, especially when<br/>
                      you're trying to hit the books. Keep your noggin'<br/>
                      warm and fully energized with our fleecey toque.<br/>
 
                      <br/>
                      Price: $7.50<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
         <!--Item #12-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Snow Boots</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      Through the slush and the snow, protect your little<br/>
                      toes with our one of a kind pair of hand woven<br/>
                      snow boots! Totally not waterproof but cute nonetheless.<br/>
 
                      <br/>
                      Price: $5.00<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #13-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Socks</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      Throw in a pair of these Christmas patterned socks<br/>
                      to go with your recently purchased Snow Boots.<br/>
                      They're super soft, buy some.<br/>
 
                      <br/>
                      Price: $4.00<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #14-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Ear Muffs</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      It's like our hat, but they only cover your ears.<br/>
                      
                      <br/>
                      Price: $4.00<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
         <!--Item #15-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Wreath</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      Hang it on your door or wall.<br/>
                      
                      <br/>
                      Price: $15.00<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #16-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Night Before Christmas Book</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      This is the best, must read Christmas classic<br/>
                      you've ever read.<br/>
                      
                      <br/>
                      Price: $8.25<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #17-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Reindeer Toy</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      This is an adorable reindeer toy. Throw it on your mantle<br/>
                      for additive festive decorations.<br/>
                      
                      <br/>
                      Price: $3.00<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #18-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Christmas Lights</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      Beautiful off-white Christmas lights, both indoor<br/>
                      and outdoor to light the place up.<br/>
                      
                      <br/>
                      Price: $12.00<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #19-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Turkey Dinner for 1</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      Are you alone this holiday season? That's ok, forget<br/>
                      the stress of having to make your own Christmas, for yourself<br/>
                      and get your hands on our pre-made turkey dinner for 1.<br/>
                      
                      <br/>
                      Price: $30.00<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
        
        <!--Item #20-->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Box of Tissues</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span>
                      This is for when you're just trying to enjoy your break and<br/>
                      all of a sudden you get that email "Oh! Exam marks are out."<br/>
                      And then the tears just flying and you sit in your<br/>
                      room and cry for a solid week contemplating everything<br/>
                      you've every worked for.<br/>
                      
                      <br/>
                      Price: $Free, highly encouraged.<br/>
                    </span>
              </div>
            </div>
          </div>
        </div>
                        
    </div>
    
<!--    <p>-->
<!--  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
<!--    Button with data-target-->
<!--  </button>-->
<!--</p>-->
<!--<div ngbCollapse class="collapse" id="collapseExample">-->
<!--  <div class="card card-body">-->
<!--    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.-->
<!--  </div>-->
<!--</div>-->
</body>


