<!-- Bootstrap links -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!-- Bootstrap links -->

<div class="container">
  <h1>About Us</h1>
  <p>All the best products to get you in that holiday spirit!</p>
  <blockquote class="blockquote-reverse">
    <p>For years and years, the students of Western have been deprived of their holiday spirit. 
    Day in and day out, as December nears, we rise and fall in the library. This website is here to help!
    Get your hands on the best of the best pick-me-up holiday cheer items at The Christmas Market!
    Don't let exams take Christmas away from you, start buying!</p>
    <footer>From Santa Claus</footer>
  </blockquote>
</div>