<!-- Bootstrap links -->
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class = container>
  
    <a class="nav-button" href="#" ><button>Logout</button></a>
    

    <main role="main">
      
        <h1>Products</h1>
      
        <app-show-product></app-show-product>
        
        <h1>Cart</h1>
        <app-add-product (postAdded)="handleProductAdded()"></app-add-product>
        <app-cart></app-cart>
        <app-show-cart></app-show-cart>
        <!--<app-cart (postAdded)="handleProductAdded()"></app-cart>-->
    </main>

</div>