<!--Bootstrap links -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
 <!--Bootstrap links -->

<div class = container>
    <h1>Our Best Sellers</h1>
    <body>
        <div class="container">
        <ul *ngFor="let product of products">
            <div>
                <li> <h4 class="mb-1"><strong>{{product.name}}</strong></h4> </li>
            </div>
            <p class="mb-0">Price: {{product.price}}</p>
            <p class="mb-0">Tax %: {{product.tax}}</p>
            <p class="mb-0">Quantity: {{product.quantity}}</p>
            <p class="mb-0">Description: {{product.descript}}</p>
            <p class="mb-0"><strong>Popularity: {{product.purchased}}</strong></p>

        </ul>
        </div>
    </body>
</div>