<!--Bootstrap links -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
 <!--Bootstrap links -->

<div class = container>
    <h1>Our Best Sellers</h1>
    <body>
        <div class="container">
        
             <!--Item #1-->
            <!--<div class="row">-->
            <!--  <div class="col">-->
            <!--    <h4><strong>#1. </strong>Gingerbread House</h4>-->
            <!--    <p>Rating: 5/5</p>-->
            <!--    <p>2,000 customers purchased this item.</p>-->
            <!--  </div>-->
            <!--</div>-->
            
            <!--Item #2-->
            <!--<div class="row">-->
            <!--  <div class="col">-->
            <!--    <h4><strong>#2. </strong>Advent Calendar</h4>-->
            <!--    <p>Rating: 5/5</p>-->
            <!--    <p>1,876 customers purchased this item.</p>-->
            <!--  </div>-->
            <!--</div>-->
            
            <!--Item #3-->
            <!--<div class="row">-->
            <!--  <div class="col">-->
            <!--    <h4><strong>#3. </strong>Night Before Christmas Book</h4>-->
            <!--    <p>Rating: 5/5</p>-->
            <!--    <p>1,600 customers purchased this item.</p>-->
            <!--  </div>-->
            <!--</div>-->
            
            <!--Item #4-->
            <!--<div class="row">-->
            <!--  <div class="col">-->
            <!--    <h4><strong>#4. </strong>Christmas Lights</h4>-->
            <!--    <p>Rating: 4/5</p>-->
            <!--    <p>800 customers purchased this item.</p>-->
            <!--  </div>-->
            <!--</div>-->
            
            <!--Item #5-->
            <!--<div class="row">-->
            <!--  <div class="col">-->
            <!--    <h4><strong>#5. </strong>Christmas Tree</h4>-->
            <!--    <p>Rating: 4/5</p>-->
            <!--    <p>847 customers purchased this item.</p>-->
            <!--  </div>-->
            <!--  </div>-->
            <!--</div>-->
            
            <!--Item #6-->
            <!--<div class="row">-->
            <!--  <div class="col">-->
            <!--    <h4><strong>#6. </strong>Tree Ornaments</h4>-->
            <!--    <p>Rating: 4/5</p>-->
            <!--    <p>762 customers purchased this item.</p>-->
            <!--  </div>-->
            <!--</div>-->
            
            <!--Item #7-->
            <!--<div class="row">-->
            <!--  <div class="col">-->
            <!--    <h4><strong>#7. </strong>Wrapping Paper</h4>-->
            <!--    <p>Rating: 4/5</p>-->
            <!--    <p>503 customers purchased this item.</p>-->
            <!--  </div>-->
            <!--</div>-->
            
            <!--Item #8-->
            <!--<div class="row">-->
            <!--  <div class="col">-->
            <!--    <h4><strong>#8. </strong>Snowflake Stickers</h4>-->
            <!--    <p>Rating: 4/5</p>-->
            <!--    <p>503 customers purchased this item.</p>-->
            <!--  </div>-->
            <!--</div>-->
            
            <!--Item #9-->
            <!--<div class="row">-->
            <!--  <div class="col">-->
            <!--    <h4><strong>#9. </strong>Gingerbread Man</h4>-->
            <!--    <p>Rating: 4/5</p>-->
            <!--    <p>300 customers purchased this item.</p>-->
            <!--  </div>-->
            <!--</div>-->
            
             <!--Item #10-->
            <!--<div class="row">-->
            <!--  <div class="col">-->
            <!--    <h4><strong>#9. </strong>Mittens</h4>-->
            <!--    <p>Rating: 4/5</p>-->
            <!--    <p>268 customers purchased this item.</p>-->
            <!--  </div>-->
            <!--</div>-->
        </div>
    </body>
</div>