<!--Bootstrap links -->
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    
</head>

<!--**************THIS IS THE ADD REVIEW******************-->
<div>
    <label>Name of Product: </label>
    <input name="name" type="text" [(ngModel)]="reviews.name" id="nameInput" placeholder="Enter Product Name">
</div>
<div>
    <label>Comment: </label>
    <textarea name="comment" [(ngModel)]="reviews.comment" id="commentInput" placeholder="Comment"></textarea>
</div>
<div>
    <label>Rating: </label>
    <textarea name="rating" [(ngModel)]="reviews.rating" id="ratingInput" placeholder="Rating"></textarea>
</div>

<button (click)="addReview()" type="button" class="btn btn-primary">Add Review</button>

