
<!-- Bootstrap links -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!-- Bootstrap links -->


<nav class="navbar navbar-default">
    
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a routerLink="/login">Login/Logout</a></li>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/bestSellers">Best Sellers</a></li>
      <li><a routerLink="/catalogue">Catalogue</a></li>
      <li><a routerLink="/privacy">Privacy Policy</a></li>
      <li><a routerLink="/dcmaPolicy">DCMA</a></li>
      <a *ngFor="let user of user">
        <a *ngIf= "(authService.user | async) && (user.manager==true)&&(user.email==(authService.user | async)?.email)">
          <a routerLink="/manager">{{user.email}} : Manager Status</a>
        </a>
      </a>
    </ul>
  </div>
</nav>

<div class = "jumbotron text-center">
    <h1>Christmas Market</h1>
    <p>All the best products to get you in that holiday spirit!</p>
</div>

<router-outlet></router-outlet>

<div class = container>
  <footer class="footer">
      <p>&copy; Neve Hall 2018</p>
  </footer>
</div>

