<!-- Bootstrap links -->
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    div{
        font-size: 18px;
    }
    p {
        font-size: 15px;
    }
    button{
        border-radius: 12px;
        font-size: 10px;
        padding: 6px 8px;
    }
    </style>
    
    
</head>


<div class="list-group">
    <div>*******************************************************************</div>
        <ul *ngFor="let dcma of dcmas">
            
            <p class="mb-0">Manager Email: {{dcma.manEmail}}</p>
            <p class="mb-0">Customer Email: {{dcma.cusEmail}}</p>
            <p class="mb-0">The complaint is about: {{dcma.about}}</p>
            <p class="mb-0">The comment or thing being complained about: {{dcma.comment}}</p>

        </ul>
    <div>*******************************************************************</div>
</div>



