<!-- Bootstrap links -->
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<!--<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>-->

<!--<div *ngIf="!(authService.user | async)">-->
<!--    <div class="alert alert-danger alert-dismissible fade in">-->
<!--        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
<!--        <strong>Oops!</strong> Wrong username or password, please try again.-->
<!--    </div>-->
<!--</div>-->

<div class = container>
  <div *ngIf="!(authService.user | async)">
    <input type="text" [(ngModel)]="email" placeholder="Email Address">
    <input type="password" [(ngModel)]="password" placeholder="Password">
  
    <button (click)="signup(email)" [disabled]="!email || !password">
      Sign Up
    </button>
  
    <button (click)="login(email);" [disabled]="!email || !password" type="button">
      Login
    </button>
    
  </div>
  
  
  <button (click)="logout()" *ngIf="authService.user | async">
    Logout
  </button>
  
  <a *ngIf="authService.user | async" class="nav-button" routerLink="/home" ><button>Home</button></a>
  
</div>